.zk-nmg-box {
    background-image: url("../image/qk/banner.png");
}
.infobox {
    margin: 50px auto;
    font-size: 16px;
    line-height: 48px;
}
.netcn table {
    font: 12px/1.5 "\5FAE\8F6F\96C5\9ED1","Microsoft Yahei","Hiragino Sans GB",tahoma,arial,"\5B8B\4F53" !important;
    border-color: #ddd;
    border-collapse: collapse;
    border-spacing: 0;
    color: #333;
    /* width: 100%; */
    margin-top: 36px;
    margin-left: 60px;
    margin-right: 1px;
}
.netcn table td {
    border-left: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    padding: 22px;
    position: relative;
    line-height: 24px;
    font-size: 14px;
    color: #333;
    vertical-align: middle;
}
.netcn .text-size-14 {
    font-size: 14px;
}
.netcn table td h3 img {
    width: 16px;
    position: relative;
    top: 2px;
    margin-right: 10px;
    vertical-align: baseline;
}