/*slider*/
.slider_box{width:810px; margin:0 auto;height: 280px;overflow: hidden;position: relative;}
.silder_con{height:280px;overflow: hidden;position: absolute;}
.silder_panel{width:810px;height:280px;overflow: hidden;float: left;position: relative;background: #111;}
.silder_panel img{width: 810px;height: 280px;display: block;overflow: hidden;}
.silder_nav{width:810px;height:58px;margin: 0 auto;bottom: 0;position: absolute;overflow: hidden;}
.silder_nav li{float: left;padding:0px;border:1px solid #fff; margin:2px;}
.silder_nav li.current{border:3px solid #018585; margin:0 4px;}
.silder_nav li,.silder_nav img{display: block;width:112px;height:48px;overflow: hidden;}
.slider_box a.prev,.slider_box a.next{display: block;width:45px;height:100px;overflow:hidden;text-indent: -999px;position: absolute;cursor: pointer;margin: 85px 0 0 0;background: url(silder_btn.gif) no-repeat;}	
.slider_box a.prev{left:0;background-position: left 0;}
.slider_box a.next{right:0;background-position: right 0;}